@font-face {
  font-family: 'iconfont';  /* project id 561707 */
  src: url('https://at.alicdn.com/t/font_561707_dg65m3qmcs1yvi.eot');
  src: url('https://at.alicdn.com/t/font_561707_dg65m3qmcs1yvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561707_dg65m3qmcs1yvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561707_dg65m3qmcs1yvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561707_dg65m3qmcs1yvi.svg#iconfont') format('svg');
}
body{
	font-size: 0.12rem;
}
#now{
	width: 100%;
	height: 13.8rem;
	background-color: blue;
	background:url('img/screen.png'),linear-gradient(#39BEFF,#42E7FF);
	background-repeat:no-repeat;
	background-size: 100%;
	background-position:bottom center;
}
.now_city{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 1.57rem;
}
.address_icon{
	 font-family: 'iconfont'; 
}
.now_air{
	width: 2.1rem;
	height: 1.26rem;
	background-color: #F7AA63;
	margin-left: 0.26rem;
	margin-top: 0.05rem;
	border-radius: 0.25rem;
	padding-top: 0.31rem;
}
.now_air h1,.now_air h2{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
} 
.now_temp{
	text-align: center;
}
.now_temp span{
	font-size: 0.96rem;
	text-align: center;
	line-height: 0.96rem;
	margin-top: 0.77rem;
	color: #fff;
}
.now_sunshine{
	text-align: center;
	margin-top:0.91rem;
}
.now_sunshine span{
	font-size: 0.51rem;
	line-height: 0.51rem;
	color: #fff;
}
.now_wind{
	text-align: center;
	margin-top: 0.53rem;
}
.now_wind_direction{
	color: #fff;
	font-size: 0.32rem;
}
.now_wind_level{
	color: #fff;
	font-size: 0.32rem;
}
.now_attention{
	text-align: center;
	margin-top: 1.48rem;
}
.now_attention p{
	color: #fff;
	line-height: .34rem;
	font-size: 0.34rem;
}
#future{
	width: 100%;
	height: 3.09rem;
	background-color: #fff;
	border-bottom:0.03rem solid #E7E7E7 ;
	padding: 0.72rem 0.58rem;
}
.future_box{
	width: 50%;
	height: 100%;
	float: left;
	padding: 0 0.58rem;
	font-size: 0.32rem;
}
.today{
	border-right:0.03rem solid #E7E7E7 ;
}
.future_top{
	width: 100%;
	height: 50%;
	float: left;
	/* background-color: pink; */
}
.future_top p{
	float: right;
}
.today_img{
	width: 0.72rem;
	height: 0.72rem;
	float: right;
	/* background-color: plum; */
}
.tomorrow_img{
	width: 0.72rem;
	height: 0.72rem;
	float: right;
}
#hours{
	width: 100%;
	height: 3.9rem;
	background-color: #fff;
	border-top: 0.03rem solid #e4e4e4;
	margin-top: 0.3rem;
	display: flex;
	overflow-x: scroll;      /* 超出部分水平滑动 */
}
#hours li,#days li{
	width: 2rem;
	height: 100%;
	background-color: #fff;
	padding: 0.7rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	flex-shrink: 0;
}
.hours_img{
	width: 1rem;
	height: 1rem;
	padding: 0 0.4rem;
	box-sizing: content-box;

}
.hours_time,.hours_temp{
	font-size: 0.26rem;
}
#days{
	width: 100%;
	height: 11.19rem;
	background-color: #fff;
	border-top: 0.03rem solid #e4e4e4;
	margin-top: 0.3rem;
	display: flex;
	overflow-x: scroll; 
}
#days li{
	padding: 0.97rem 0; 
	text-align: center;
}
.days_temps{
	width: 1.47rem;
	height: 1.11rem;
}
li h1{
	font-weight: normal;
}
#hours::-webkit-scrollbar,#days::-webkit-scrollbar{   /* 隐藏滚动条 */
	display: none;     /* 消失 */
}
#citys{
	width: 100vw;
	height: 100vh;
	background-color:#f5f5f5;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
	overflow-y: scroll;

}
header{
	width: 100%;
	height: 1.29rem;
	background-color: #fff;
	padding: 0 0.29rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.search{
	width: 9.03rem;
	height: 0.87rem;
	background-color: #e2e2e2;
	border: 0;
	border-radius: 0.2rem;
	padding-left: 0.2rem;
	outline: none;
}
.btn{
	width: 0.94rem;
	line-height: 0.44rem;
	text-align: center;
	color: #76a9ff;
	font-size: 0.16rem;
}
.remen{
	width: 100%;
	float: left;
}
.remen_top{
	height: 0.72rem;
	width: 100%;
	background-color: #f6f6f6;
	padding-left: 0.32rem;
	margin-bottom: 0.06rem;
	float: left;
}
.remen_top h1{
	line-height: 0.72rem;
	text-align: left;
	color: #999;
	font-weight: normal;
	font-size: 0.14rem;

}
.remen_mid{
	width: 77.7%;
	background-color: #f6f6f6;
	margin-left: 0.29rem;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between; 
}
.remen_mid1{
	width: 2.34rem;
	height: 0.84rem;
	float: left;
	border: 0.03rem solid #e0e0e0;
	background-color: #fff;
	border-radius: 0.2rem;
	text-align: center;
	line-height: 0.84rem;
}
.remen_mid1 p{
	font-size: 0.16rem;
}
.remen_mid2{
	margin-left: 0.42rem;
}
.row1{
	margin-bottom: 0.39rem;
}
.remens{
	margin-top: 0.17rem;
}
.remen_mids{
	background-color:#f6f6f6;
}

